<h1><%= @employee.full_name %></h1>

<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>

<p><%= image_tag @employee.img_url %></p>

<h1>Dog</h1>
<%= link_to @employee.dog.name, dog_path(@employee.dog) %>